<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>American President Flash Cards</title>
    <!-- Reset Link -->
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<!-- CSS Link -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Bree+Serif|Poppins" rel="stylesheet">
    <!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="well well-lg">Ten Unknown Facts About Your American Presidents!!!</div>

        <% include partials/panel %>
        
    </div> <!-- end container -->

    <!-- Javascript File -->
     <!--<script src="assets/javascript/flashcard.js"></script>-->
</body>
</html>
